[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
uvicorn = "*"
pyyaml = "*"
sqlalchemy = "*"
psycopg = "*"
alembic = "*"
passlib = "*"
jose = "*"
pyjwt = "*"
python-jose = "*"
python-multipart = "*"
cryptography = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
# migration = "alembic upgrade head"
server = "uvicorn src.main:app --reload"
